body {
    text-align: center;
}

h1 {
    font-size: 75px;
}

.search {
    margin: 50px;
}

.noMovieFound {
    background-color: red;
    color: white;
}

table {
    border-collapse: collapse;
    caption-side: top;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

td {
    border: 1px solid grey;
}

tr {
   height: 100px;
}

.addMovieButton {
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    box-shadow: none;
}

span {
    margin: 20px;
    font-size: 25px;
}

.watchedContainer {
    max-width: 100px;
}

.watchedButton,
.notWatchedButton {
    border-radius: 5px;
    font-size: 15px; 
    outline: none;
    box-shadow: none;
    float: right;
    margin-right: 20px;
}

.addMovieButton, 
.watchedButton {
    background-color: #a0ed98;
    color: white;
    border: 2px solid white;
}

.notWatchedButton {
    background-color: white;
    color: black;
    border: 2px solid #a0ed98; /* Green */
}