body {
    text-align: center;
}

h1 {
    font-size: 75px;
}

.search {
    margin: 50px;
}

.movieListItem {
    border: 1px solid black;
    margin: 10px;
}

.noMovieFound {
    background-color: red;
    color: white;
}